# URLs et environnement
NEXT_PUBLIC_API_URL=http://localhost:8080/api
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ENVIRONMENT=development

# Email
RESEND_API_KEY=your_resend_api_key_here
EMAIL_SENDER=example@yourdomain.com

# Authentication
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here
CSRF_SECRET=your_csrf_secret_here 