# Application
NODE_ENV=production
PORT=3000
API_PREFIX=api
APP_URL=https://nionfar.up.railway.app
FRONTEND_URL=https://nion-farr.vercel.app
CORS_ALLOWED_ORIGINS=https://nion-farr.vercel.app

# Database (MongoDB)
MONGODB_URI=mongodb+srv://username:password@yourcluster.mongodb.net/dbname?retryWrites=true&w=majority&appName=YourCluster
DB_AUTH_SOURCE=admin

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=7d

# Optimisation
MEMORY_OPTIMIZED=true
NODE_OPTIONS="--max-old-space-size=256"

# Configuration Railway
IS_RENDER=false
RAILWAY_DEPLOYMENT=true
DISABLE_USER_SYNC=true
RAILWAY_PROJECT_ID=your_project_id
RAILWAY_SERVICE_ID=your_service_id
RAILWAY_PUBLIC_DOMAIN=your_app.up.railway.app
RAILWAY_PROJECT_NAME=your_project_name
RAILWAY_ENVIRONMENT_NAME=production
RAILWAY_SERVICE_NAME=your_service_name
RAILWAY_ENVIRONMENT_ID=your_environment_id

# Email (Resend)
MAIL_HOST=smtp.resend.com
MAIL_PORT=587
MAIL_SECURE=true
MAIL_USER=resend
MAIL_PASSWORD=your_mail_password
MAIL_FROM=your_email@example.com
MAIL_FROM_NAME=YourAppName
RESEND_API_KEY=your_resend_api_key 